<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/Portfolio_Proyecto2/public/css/style.css">
</head>
<body>
  <header>
    <h1>Perfil de {{miembro.nombre}} {{miembro.apellidos}}</h1>
  </header>

  <main>
    <section class="perfil">
      <div class="centrarImg">
        <!-- Usa la ruta adecuada para las imágenes -->
        <img src="/Portfolio_Proyecto2/public/images/{{miembro.nombre}}_{{miembro.apellidos}}.jpg" alt="Foto de {{miembro.nombre}} {{miembro.apellidos}}" class="miembros-img">
      </div>
      <p><strong>Fecha de nacimiento:</strong> {{miembro.fecha_nacimiento}}</p>
      <p><strong>Titulación:</strong> {{miembro.titulacion}}</p>
      <p><strong>LinkedIn:</strong> <a href="{{miembro.linkedin_url}}" target="_blank">{{miembro.linkedin_url}}</a></p>
      <p><strong>Idiomas:</strong> {{miembro.idiomas}}</p>
      <p><strong>Estudios:</strong> {{miembro.estudios}}</p>
      <p><strong>Datos personales:</strong> {{miembro.datos_personales}}</p>
    </section>
    <a href="/miembros" class="button">Volver a la lista de miembros</a>
  </main>
</body>
</html>
